extends layout

block content    
  div.row 
    div.col-md-6.col-md-offset-3#flashes
  div#nickname-window.row
    div.col-md-3
    div.col-md-5
        div.input-group
          span.input-group-addon @
          input(type="text", name="nickname", id="nickname", placeholder='Intrduce tu nombre de usuario').form-control
    div.col-md-1
      input(type="submit", id="set-nick", value="Guardar").btn.btn-default.pull-right
    div.col-md-3 
  
  div#chat-window.row(style="display:none")
    div.col-md-6.col-md-offset-3
      div.row  
        div.col-md-12
          div.panel.panel-default
            div.panel-heading
              h3.panel-title Chat
            div.panel-body(style='height:200px;overflow-y:scroll')
              ul#message-list.list-group

      div.row  
        div.col-md-12
          div.input-group
            input#mensaje.form-control(type='text', placeholder="Escribe tu mensaje")
            span.input-group-btn
              button#enviar.btn.btn-default
                span.glyphicon.glyphicon-comment
      br
      div.row.row-md-offset-2
        div.col-md-12
          div.btn-group.btn-group-sm
            button#limpiar-chat.btn.btn-success(title="Limpiar el Chat")
              span.glyphicon.glyphicon-refresh
            button.btn.btn-info(title="Avisar a los demás usuarios")
              span.glyphicon.glyphicon-bullhorn
            a(data-toggle="modal", href="#popup-usuarios").btn.btn-warning
              span.glyphicon.glyphicon-list
            button#desconectar.btn.btn-danger(title="Desconectar del chat")
              span.glyphicon.glyphicon-off    
              
  div#popup-usuarios.modal.fade
    div.modal-dialog
      div.modal-content
        div.modal-header
          h2 Usuarios conectados
        div.modal-body
          ul#listado-usuarios.list-group
        div.modal-footer
          button.btn.btn-danger(data-dismiss="modal") Cerrar